<mat-toolbar color="primary">
    <span>{{ "Recipes" | translate }}</span>
    <span class="spacer"></span>
    <button mat-icon-button [attr.aria-label]="'AddRecipe' | translate" (click)="createRecipe()">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button [attr.aria-label]="'LogOut' | translate" (click)="logout()">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>

<main>
    <mat-card *ngFor="let recipe of recipes$ | async" (click)="viewRecipe(recipe.id!)">
        <h1>{{recipe.name}}</h1>
        <p class="description">{{recipe.description}}</p>
    </mat-card>
</main>