<mat-toolbar color="primary">
    <span>{{ "AppName" | translate }}</span>
</mat-toolbar>
<nav mat-tab-nav-bar backgroundColor="primary" mat-stretch-tabs="false" mat-align-tabs="center" [tabPanel]="tabPanel">
    <a mat-tab-link active>{{ "LogIn" | translate }}</a>
    <a mat-tab-link routerLink="/register">{{ "Register" | translate }}</a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

<form [formGroup]="form" (ngSubmit)="login()">
    <mat-form-field color="accent" appearance="outline">
        <mat-label>{{ "Email" | translate }}</mat-label>
        <input matInput type="email" formControlName="email" required />
    </mat-form-field>
    <mat-form-field color="accent" appearance="outline">
        <mat-label>{{ "Password" | translate }}</mat-label>
        <input matInput type="password" formControlName="password" required />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">{{ "LogIn" | translate }}</button>
</form>