<mat-toolbar color="primary">
    <span>Recipe manager</span>
</mat-toolbar>
<nav mat-tab-nav-bar backgroundColor="primary" mat-stretch-tabs="false" mat-align-tabs="center" [tabPanel]="tabPanel">
    <a mat-tab-link routerLink="/login">Login</a>
    <a mat-tab-link active>Register</a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

<form [formGroup]="form" (ngSubmit)="register()">
    <mat-form-field color="accent" appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" formControlName="email" required />
    </mat-form-field>
    <mat-form-field color="accent" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required />
    </mat-form-field>
    <mat-form-field color="accent" appearance="outline">
        <mat-label>Confirm password</mat-label>
        <input matInput type="password" formControlName="password2" required />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Register</button>
</form>